body {
  background-color: cornflowerblue;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
}

.cuadro {
  background-color: #caacaa;
  margin: auto;
  width: 80%;
}

.imgLogo {
  width: auto;
  height: 13px;
}

#Nombre {
  color: red;
  font-size: 25px;
}
